html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 54, 66);
}

.menu {
    width: 100%;
    height: 3em;
    display: table;
}

.button {
    border-right: 1px solid rgb(246, 246, 246);
    border-bottom: 1px solid rgb(246, 246, 246);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-user-select: none;
}

.menu .button {
    width: 33%;
}

.button:last-child {
    border-right: none;
}

.active {
    background-color: rgb(64, 40, 154);
}

.panel {
    width: 100%;
    height: -moz-calc(100% - 3em);
}

.remote {
    display: table;
}

.row {
    height: 25%;
    display: table-row;
}

.row:last-child {
    border-bottom: none;
}

.remote .button {
    width: 33%;
}

.row:last-child .button {
    border-bottom: none;
}

.settings {
    overflow: scroll;
    width: 100%;
    display: none;
}

.settings-item {
    text-align: center;
    height: 3em;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

input[type="text"] {
    background-color: rgb(7, 54, 66);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(246, 246, 246);
}
